<div class="flex flex-col min-h-screen">
  <!-- Header: Barra de navegación -->
  <header class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
      <a href="/" class="text-2xl font-bold text-white">
        🎥 Catálogo de Películas
      </a>
      <nav class="space-x-4">
        <a
          routerLink="/"
          routerLinkActive="text-blue-400"
          class="text-white hover:text-blue-400"
        >
          Inicio
        </a>
        <a
          routerLink="/favorites"
          routerLinkActive="text-blue-400"
          class="text-white hover:text-blue-400"
        >
          Favoritos
        </a>
      </nav>
    </div>
  </header>

  <!-- Main Content: Contenedor para las rutas -->
  <main class="flex-grow bg-gray-900">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 py-4">
    <div class="container mx-auto text-center text-gray-400 text-sm">
      &copy; 2024 Catálogo de Películas. Todos los derechos reservados.
    </div>
  </footer>
</div>
